@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  /* max-width: 575px; */
  max-width: 479px;
  width: 100%;
  margin: 0 auto;
}

/*
------------------
 Pagination Css
------------------ 
*/
.slick-dots {
  bottom: -35px !important;
}
.slick-dots li button {
  height: 5px !important;
  padding: 0 !important;
}
.slick-dots li {
  margin: 0 !important;
}
.slick-dots li button:before {
  font-size: 0 !important;
  width: 20px !important;
  height: 5px !important;
  opacity: 1 !important;
  background: #333333 !important;
}
.slick-dots li.slick-active button:before{
  background: #FE0101 !important;
}

/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@keyframes premiumGlow {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 2px #fdd835) drop-shadow(0 0 4px #ffeb3b);
  }
  50% {
    transform: scale(1.08);
    filter: drop-shadow(0 0 6px #ffeb3b) drop-shadow(0 0 12px #fdd835);
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 2px #fdd835) drop-shadow(0 0 4px #ffeb3b);
  }
}

.animate-premium-glow {
  animation: premiumGlow 1.8s ease-in-out infinite;
}



@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
  }
  60% {
    opacity: 1;
    transform: scale(1.05) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInScale {
  animation: fadeInScale 0.6s ease-out forwards;
}

